<section class="section">
  <img src="assets/images/background.png">
</section>
<mat-card>
  <mat-card-title class="title">Change password</mat-card-title>
  <mat-card-content>
    <form [formGroup]="passwordFormGroup">
      <mat-form-field appearance="outline">
        <input matInput [(ngModel)]="forgottenPasswordModel.email" formControlName="email">
        <mat-label>Email</mat-label>
      </mat-form-field>
    </form>
    <button (click)="editPassword(forgottenPasswordModel)">Change password</button>
  </mat-card-content>
</mat-card>

