:host {
  width: 18%;
  margin: 1%;
}

.edit-option {
  position: absolute;
  top: 16px;
  right: 16px;
}

.delete-option {
  position: absolute;
  top: 16px;
  left: 16px;
}

.product-card {
  position: relative;
}

.product-card-title {
  text-align: center;
  cursor: pointer;
}
.product-card-description {
  margin-bottom: 10px;
  height: 150px;
  overflow: hidden;
}

.product-card-specials {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.product-card-specials > * {
  font-size: 1.8em;
  font-weight: bold;
}
.product-card-price {
  color: #088030;
  text-align: right;
}

.product-card-price,
.product-card-rating {
  margin-bottom: 25px;
}
